<p class="title-number">13 - Gasherbrum II </p>
<p><img src="/images/uploaded/higest mountain/Gasherbrum2.jpg" alt="" /></p>
<p><strong>Elevation:</strong> 8,035 m<br /><strong>First ascent:</strong> July 7, 1956</p>
<p>

    In 1856, Thomas George Montgomerie, a member of the British Royal Engineers and part of the Great Trigonometric Survey, sighted the mountain and named it "K4", meaning the fourth mountain of Karakoram. The name "Gasherbrum" comes from the Balti words rgasha ("beautiful") and brum ("mountain"); it does not, contrary to popular belief, mean "shining wall", how Sir William Martin Conway described nearby Gasherbrum IV on an 1892 exploration.

</p>
<p> </p>

<p class="title-number">12 - Broad Peak</p>
<p><img src="/images/uploaded/higest mountain/Broad_Peak.jpg" alt="" /></p>
<p><strong>Elevation:</strong> 8,051 m<br /><strong>First ascent:</strong> June 8-9, 1957 </p>
<p>

    Broad Peak is part of the Gasherbrum massif in Baltistan on the border of Pakistan and China. It is located in the Karakoram mountain range about 8 kilometres (5.0 mi) from K2. It has a summit over 1.5 kilometres (0.93 mi) long, thus "Broad Peak".

    The mountain has several summits: Broad Peak (8051 m), Rocky Summit (8028 m), Broad Peak Central (8011 m), Broad Peak North (7490 m), and Kharut Kangri (6942 m).

</p>
<p> </p>

<p class="title-number">11 - Gasherbrum I</p>
<p><img src="/images/uploaded/higest mountain/Gasherbrum.jpg" alt="" /></p>
<p><strong>Elevation:</strong> 8,516 m<br /><strong>First ascent:</strong> 18 May 1956</p>
<p>

    Gasherbrum I was designated K5 (meaning the 5th peak of the Karakoram) by T.G. Montgomerie in 1856 when he first spotted the peaks of the Karakoram from more than 200 km away during the Great Trigonometric Survey of India. In 1892, William Martin Conway provided the alternate name, Hidden Peak, in reference to its extreme remoteness.

</p>
<p> </p>

<p class="title-number">10 - Annapurna I</p>
<p><img src="/images/uploaded/higest mountain/Annapurna.jpg" alt="" /></p>
<p><strong>Elevation:</strong> 8,091 m<br /><strong>First ascent:</strong> 3 June 1950</p>
<p>

    The Annapurna lies in the North-central Nepal stretching along with Lamjung Himal from the Kali Gandaki in the west to the Marshyangdi in the east. Annapurna which adjacent to the tourist capital of Nepal Pokhara was the first eight-thousander to be climbed.

</p>
<p> </p>

<p class="title-number">9 - Nanga Parbat</p>
<p><img src="/images/uploaded/higest mountain/Nanga_Parbat.jpg" alt="" /></p>
<p><strong>Elevation:</strong> 8,126 m<br /><strong>First ascent:</strong> 3 July 1953</p>
<p>
    This mountain is one of the eight-thousanders. An immense, dramatic peak rising far above its surrounding terrain, Nanga Parbat is also a notoriously difficult climb. Numerous mountaineering deaths in the mid and early-20th century lent it the nickname "Killer Mountain.”
    </p>
<p> </p>

<p class="title-number">8 - Manaslu</p>
<p><img src="/images/uploaded/higest mountain/Manaslu.jpg" alt="" /></p>
<p><strong>Elevation:</strong> 8,156 m<br /><strong>First ascent:</strong> 9 May 1956</p>
<p>
    Manaslu is the highest peak in the Gorkha District and is located about 64 km (40 mi) east of Annapurna. The mountain's long ridges and valley glaciers offer feasible approaches from all directions, and culminate in a peak that towers steeply above its surrounding landscape, and is a dominant feature when viewed from afar.
</p>
<p> </p>
<p class="title-number">7 - Dhaulagiri</p>
<p><img src="/images/uploaded/higest mountain/dhaulagiri.jpg" alt="" /></p>
<p><strong>Elevation:</strong> 	8,167 m<br /><strong>First ascent:</strong> May 13, 1960</p>
<p>

    Most ascents have followed the northeast ridge route of the first ascent, but climbs have been made from most directions. As of 2007 there had been 358 successful ascents and 58 fatalities, which is a summit to fatality rate of 16.2%. Between 1950 and 2006, 2.88% of 2,016 expedition members and staff going above base camp on Dhaulagiri I died. On all 8,000 metre peaks in Nepal the death rate was 1.63%, ranging from 0.65% on Cho Oyu to 4.04% on Annapurna I and 3.05% on Manaslu.

</p>
<p> </p>
<p class="title-number">6 - Cho Oyu</p>
<p><img src="/images/uploaded/higest mountain/Cho Oyu.jpg" alt="" /></p>
<p><strong>Elevation:</strong> 8,201 m<br /><strong>First ascent:</strong> 19 October 1954</p>
<p>
    Cho Oyu was first attempted in 1952 by an expedition organised and financed by the Joint Himalayan Committee of Great Britain as preparation for an attempt on Mount Everest the following year. The expedition was led by Eric Shipton and included Edmund Hillary and Tom Bourdillon. A foray by Hillary and George Lowe was stopped due to technical difficulties and avalanche danger at an ice cliff above 6,650 m (21,820 ft) and a report of Chinese troops a short distance across the border influenced Shipton to retreat from the mountain rather than continue to attempt to summit.
</p><p> </p>
<p class="title-number">5 - Makalu</p>
<p><img src="/images/uploaded/higest mountain/Makalu.jpg" alt="" /></p>
<p><strong>Elevation:</strong> 8.481 m<br /><strong>First ascent:</strong> 15 May 1955</p>
<p>Makalu has two notable subsidiary peaks. Kangchungtse, or Makalu II (7,678 m) lies about 3 km (2 mi) north-northwest of the main summit. Rising about 5 km (3.1 mi) north-northeast of the main summit across a broad plateau, and connected to Kangchungtse by a narrow, 7,200 m saddle, is Chomo Lonzo (7,804 m).</p>
<p> </p>
<p class="title-number">4 - Lhotse</p>
<p><img src="/images/uploaded/higest mountain/44586.jpg" alt="" /></p>
<p><strong>Elevation:</strong> 8,516 m<br /><strong>First ascent:</strong> 18 May 1956</p>
<p>Part of the Everest massif, Lhotse is connected to the latter peak via the South Col. Lhotse means “South Peak” in Tibetan. In addition to the main summit at 8,516 metres (27,940 ft) above sea level, the mountain comprises the smaller peaks Lhotse Middle (East) at 8,414 m (27,605 ft), and Lhotse Shar at 8,383 m (27,503 ft). The summit is on the border between Tibet of China and the Khumbu region of Nepal.</p>
<p> </p>
<p class="title-number">3 - Kangchenjunga</p>
<p><img src="/images/uploaded/higest mountain/800px-Kanchenjunga_from_Tiger_Hills.JPG" alt="" /></p>
<p><strong>Elevation:</strong> 8,586 m<br /><strong>First ascent:</strong> 25 May 1955</p>
<p>Until 1852, Kangchenjunga was assumed to be the highest mountain in the world, but calculations based on various readings and measurements made by the Great Trigonometrical Survey of India in 1849 came to the conclusion that Mount Everest, known as Peak XV at the time, was the highest. Allowing for further verification of all calculations, it was officially announced in 1856 that Kangchenjunga is the third highest mountain in the world.</p>
<p> </p>
<p class="title-number">2 - K2</p>
<p><img src="/images/uploaded/higest mountain/800px-K2_2006b.jpg" alt="" /></p>
<p><strong>Elevation:</strong> 8,611 m<br /><strong>First ascent:</strong> 31 July 1954</p>
<p>K2 is known as the Savage Mountain due to the extreme difficulty of ascent. It has the second-highest fatality rate among the eight thousanders, with around 300 successful summits and 77 fatalities; about one person dies on the mountain for every four who reach the summit. It is more difficult and hazardous to reach the peak of K2 from the Chinese side, so it is usually climbed from the Pakistani side. K2 has never been climbed during winter, unlike Annapurna, the mountain with the highest fatality-to-summit rate (191 summits and 61 fatalities), or the other eight-thousanders. Ascents have almost always been made in July and August, the warmest times of year; K2's more northern location makes it more susceptible to inclement and colder weather.</p>
<p> </p>
<p class="title-number">1 - Mount Everest</p>
<p><img src="/images/uploaded/higest mountain/Mount_Everest.jpg" alt="Mount Everest" /></p>
<p><strong>Elevation</strong>: 8,848 m<br /><strong>First ascent</strong>: 29 May 1953</p>
<p>The current official elevation of 8,848 m (29,029 ft), recognized by China and Nepal, was established by a 1955 Indian survey and subsequently confirmed by a Chinese survey in 1975.In 2005, China remeasured the rock height of the mountain, with a result of 8844.43 m. There followed an argument between China and Nepal as to whether the official height should be the rock height (8,844 m., China) or the snow height (8,848 m., Nepal). In 2010, an agreement was reached by both sides that the height of Everest is 8,848 m, and Nepal recognizes China's claim that the rock height of Everest is 8,844 m.</p>
<p> </p>