

<h2 class="title-number">11. Snoop Dogg</h2>
<p><img src="/images/uploaded/2019/march/millionaires_rappers_2019/Snoop Dogg.jpg" alt="Snoop Dogg in concert" /></p>
<p>
    <strong>Fortune: </strong>$135 Million<br />
    <strong>Born: </strong>October 20, 1971 (age 47) / Long Beach, California, U.S.<br />
    <strong>Years active: </strong>1991-present<br />
    <strong>Instagram: </strong> <a href="https://www.instagram.com/snoopdogg">Snoopdogg</a>
</p>
<p>Calvin Cordozar Broadus Jr., known professionally as Snoop Dogg, is an American rapper, singer, record producer, television personality, entrepreneur, and actor.</p>
<p> </p>
<h2 class="title-number">10. Lil Wayne</h2>
<p><img src="/images/uploaded/2019/march/millionaires_rappers_2019/Lil Wayne.jpg" alt="Lil Wayne in concert" /></p>
<p>
    <strong>Fortune: </strong>$140 Million<br />
    <strong>Born: </strong>September 27, 1982 (age 36) / New Orleans, Louisiana, U.S.<br />
    <strong>Years active: </strong>1993-present<br />
    <strong>Instagram:</strong> <a href="https://www.instagram.com/liltunechi">liltunechi</a>
</p>
<p>
    Dwayne Michael Carter Jr. known professionally as Lil Wayne, is an American rapper and singer.
</p>
<p> </p>




<h2 class="title-number">9. Ice Cube</h2>
<p><img src="/images/uploaded/2019/march/millionaires_rappers_2019/ice cube.jpg" alt="ice cube in concert" /></p>
<p>
    <strong>Fortune: </strong>$160 Million<br />
    <strong>Born: </strong>June 15, 1969 (age 49) / Los Angeles, California, U.S.<br />
    <strong>Years active: </strong>1984-present<br />
    <strong>Instagram: </strong> <a href="https://www.instagram.com/icecube">icecube</a>
</p>
<p>
    O'Shea Jackson Sr., known professionally as Ice Cube, is an American rapper, writer and actor.
</p><p> </p>

<h2 class="title-number">8. Ronald “Slim” Williams</h2>
<p><img src="/images/uploaded/2019/march/millionaires_rappers_2019/Slim.jpg" alt="Slim" /></p>
<p>
    <strong>Fortune: </strong>$160 Million<br />
    <strong>Born: </strong>May 23, 1964 (age 54) /
    New Orleans, Louisiana, U.S.<br />
    <strong>Years active: </strong>1988-present<br />
    <strong>Instagram: </strong> <a href="https://www.instagram.com/officialslim_">officialslim_</a>
</p>
<p>
    Ronald Jay "Slim" Williams, is an American businessman who co-founded the record label Cash Money Records along with his younger brother, rapper Bryan "Birdman" Williams.
</p><p> </p>



<h2 class="title-number">7. Bryan “Birdman” Williams</h2>
<p><img src="/images/uploaded/2019/march/millionaires_rappers_2019/Birdman.jpg" alt="Birdman in concert" /></p>
<p>
    <strong>Fortune: </strong>$180 Million<br />
    <strong>Born: </strong>February 15, 1969 (age 50) /
    New Orleans, Louisiana, U.S.<br />
    <strong>Years active: </strong>1990-present<br />
    <strong>Instagram: </strong> <a href="https://www.instagram.com/birdman5star">birdman5star</a>
</p>
<p>
    Bryan Christopher Williams, known by his stage name Birdman (also known as Baby), is an American rapper, record executive and entrepreneur.
</p><p> </p>

<h2 class="title-number">6. Master P</h2>
<p><img src="/images/uploaded/2019/march/millionaires_rappers_2019/Master P.jpg" alt="Master P in concert" /></p>
<p>
    <strong>Fortune: </strong>$200 Million<br />
    <strong>Born: </strong> April 29, 1967 (age 51) / New Orleans, Louisiana, U.S.<br />
    <strong>Years active: </strong>1989-present<br />
    <strong>Instagram: </strong> <a href="https://www.instagram.com/masterp">masterp</a>
</p>
<p>
    Percy Robert Miller, known professionally as Master P or his business name P. Miller, is an American rapper, actor, businessman, record executive, philanthropist, and former basketball player.
</p><p> </p>






<h2 class="title-number">5. Eminem</h2>
<p><img src="/images/uploaded/2019/march/millionaires_rappers_2019/Eminem.jpg" alt="Eminem in concert" /></p>
<p>
    <strong>Fortune: </strong>$210 Million<br />
    <strong>Born: </strong>October 17, 1972 (age 46) / St. Joseph, Missouri, U.S.<br />
    <strong>Years active: </strong>1992-present<br />
    <strong>Instagram: </strong> <a href="https://www.instagram.com/eminem">eminem</a>
</p>
<p>
    Marshall Bruce Mathers III, known professionally as Eminem (/ˌɛmɪˈnɛm/; often stylized as EMINƎM), is an American rapper, songwriter, record producer, record executive, film producer, and actor.
</p><p> </p>

<h2 class="title-number">4. Kanye West</h2>
<p><img src="/images/uploaded/2019/march/millionaires_rappers_2019/Kanye West.jpg" alt="Kanye West in concert" /></p>
<p>
    <strong>Fortune: </strong>$250 Million<br />
    <strong>Born: </strong> June 8, 1977 (age 41) / Atlanta, Georgia, U.S.<br />
    <strong>Years active: </strong>1996-present<br />
    <strong>Instagram: </strong> <a href="https://www.instagram.com/kanyewestt_official">kanyewestt_official</a>
</p>
<p>
    Kanye Omari West is an American rapper, singer, songwriter, record producer, entrepreneur and fashion designer.
</p><p> </p>


<h2 class="title-number">3. Dr Dre</h2>
<p><img src="/images/uploaded/2019/march/millionaires_rappers_2019/Dr Dre.jpg" alt="Dr Dre in concert" /></p>
<p>
    <strong>Fortune: </strong>$850 Million<br />
    <strong>Born: </strong>February 18, 1965 (age 54) / Compton, California, U.S.<br />
    <strong>Years active: </strong>1984-present<br />
    <strong>Instagram: </strong> <a href="https://www.instagram.com/drdre">drdre</a>
</p>
<p>
    Andre Romelle Young, known professionally as Dr. Dre, is an American rapper, record producer, and entrepreneur. He is the founder and CEO of Aftermath Entertainment and Beats Electronics, and was previously co-owner of Death Row Records.


</p><p> </p>


<h2 class="title-number">2. P Diddy</h2>
<p><img src="/images/uploaded/2019/march/millionaires_rappers_2019/P Diddy.jpg" alt="P Diddy in concert" /></p>
<p>
    <strong>Fortune: </strong>$875 Million<br />
    <strong>Born: </strong>November 4, 1969 (age 49) / New York City, New York<br />
    <strong>Years active: </strong>1990-present<br />
    <strong>Instagram: </strong> <a href="https://www.instagram.com/diddy">diddy</a>
</p>
<p>
    Sean John Combs, also known by his various stage names Puff Daddy, P. Diddy, Diddy, Puffy, and Brother Love, is an American rapper, singer, songwriter, actor, record producer, and entrepreneur.



</p><p> </p>



<h2 class="title-number">1. Jay-Z</h2>
<p><img src="/images/uploaded/2019/march/millionaires_rappers_2019/Jay-Z.jpg" alt="Jay-Z in concert" /></p>
<p>
    <strong>Fortune: </strong>$900 Million<br />
    <strong>Born: </strong>December 4, 1969 (age 49) / New York City, New York, U.S.<br />
    <strong>Years active: </strong>1986-present<br />
    <strong>Instagram: </strong> <a href="https://www.instagram.com/jayz.co">jayz.co</a>
</p>
<p>
    Shawn Corey Carter, known professionally as Jay-Z (stylized as JAY-Z), is an American rapper, songwriter, record producer, entrepreneur, and record executive.

</p><p> </p>
