@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageTop })
        <div class="container">
            @await Component.InvokeAsync("TopicBlock", new { systemName = "HomePageText" })
            @*<div class="wow fadeInUp animated" style="animation-delay: 100ms;">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeCategories })
                @await Component.InvokeAsync("HomepageCategories")
            </div>*@
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeProducts })
            <div class="featured-produt">
                @await Component.InvokeAsync("HomepageProducts")
            </div>
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeBestSellers })
            @await Component.InvokeAsync("HomepageBestSellers")
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeNews })
            @await Component.InvokeAsync("HomepageNews")
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforePoll })
            @await Component.InvokeAsync("HomepagePolls")
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBottom })
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#brandslider").owlCarousel({
            autoPlay: 3000, //Set AutoPlay to 3 seconds
            items: 5,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [979, 3],
            navigation: true,
            pagination: false,
        });
        $("#instragram-slider").owlCarousel({
            autoPlay: 3000, //Set AutoPlay to 3 seconds
            items: 5,
            itemsDesktop: [1199, 3],
            itemsDesktopSmall: [979, 3],
            navigation: true,
            pagination: false,
        });
    });

</script>
